<?xml version="1.0" encoding="utf-8"?>
<packages>
     <package id="Microsoft.Net.Http" version="2.2.29" targetFramework=".NETPortable,Version=v4.6,Profile=Profile151" />
	 <package id="PCLStorage" version="1.0.2" targetFramework=".NETPortable,Version=v4.6,Profile=Profile151" />
	 <package id="Realm" version="1.2.1" targetFramework=".NETPortable,Version=v4.6,Profile=Profile151" />
	 <package id="Newtonsoft.Json" version="10.0.2" targetFramework=".NETPortable,Version=v4.6,Profile=Profile151" />
     <package id="Validation" version="2.4.15" targetFramework=".NETPortable,Version=v4.6,Profile=Profile151" />
</packages>