##---------------Begin: proguard configuration common for all Android apps ----------


-dontpreverify
-flattenpackagehierarchy
-optimizationpasses 5
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-verbose


# We restrict a few more optimizations for the maps library.
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*,!code/simplification/variable
-keepattributes SourceFile,LineNumberTable


-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference
-keep public class com.android.vending.licensing.ILicensingService

-keep public class * extends android.app.Fragment
-keep public class * extends android.support.v4.app.Fragment




-keep public class * {
    public protected *;
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}
-dontwarn android.support.**




-keepclasseswithmembernames class * {
    native <methods>;
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepclassmembers class * extends android.app.Activity {
   public void *(android.view.View);
}

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

##---------------End: proguard configuration common for all Android apps ----------


-keep class SPromoterMobile.Models.** { *; }

-keep class org.apache.http.** { *; }
-dontwarn org.apache.http.**

-keep class Mono.Security.Cryptography.** { *; }
-dontwarn Mono.Security.Cryptography.**

-keep class net.hockeyapp.android.utils.** { *; }
-dontwarn net.hockeyapp.android.**

-keep class android.net.http.** { *; }
-dontwarn android.net.http.**

-keep class android.support.v7.** { *; }
-keep class android.support.v4.** { *; }

-keep class com.google.android.gms.** { *; }
-dontwarn com.google.android.gms.**


-keepclassmembers class * implements android.os.Parcelable {
    static *** CREATOR;
}

# The maps library uses serialization so keep this.
-keepclassmembers class * implements java.io.Serializable {
    static final long serialVersionUID;
    static final java.io.ObjectStreamField[] serialPersistentFields;
    private void writeObject(java.io.ObjectOutputStream);
    private void readObject(java.io.ObjectInputStream);
    java.lang.Object writeReplace();
    java.lang.Object readResolve();
}

# Additional config needed for Guava which is used by the demo.
-keep public interface com.google.common.base.FinalizableReference {
    void finalizeReferent();
}
# Missing annotations are harmless.how google cloud mess
-dontwarn sun.misc.Unsafe
-dontwarn javax.annotation.**
# Ignore invalid constant ref.  See
# https://groups.google.com/d/topic/guava-discuss/YCZzeCiIVoI/discussion
-dontwarn com.google.common.collect.MinMaxPriorityQueue
-dontwarn android.support.v7.**